@charset "UTF-8";

/* @media (max-width: 1420px){
  #rent .rent_info .right article .room:nth-child(2){display: none;}
} */
@media (min-width: 640px) and (max-width: 960px){
  #header .top{width: 100%;height: 100px;padding: 0;}
  #header .top h1{top: 30px;left: 30px;}
  #header .top a.logo{width: 130px;height: 48px;}
  #header .top_menu{top: 10px;right: 30px;}
  #header .top_menu button.header_menu{display: block;position: absolute;top: 30px;right: 0;width: 69px;height: 51px;border:0;background: url(../images/header_menu_btn.png)center right / 50%  no-repeat;}
}
